.simon
  .controls
    .game-label Simon
    #count
    button#start Start
    button#strict Strict
    #power

  .buttons
    svg(viewBox="0 0 100 100" data-color='green').button.green
      path(d="M 0 100 A 110 110 0 0 1 100 0 L 100 50 A 60 60 0 0 0 50 100 Z"
        fill="green"
        stroke="transparent").green
    svg(viewBox="0 0 100 100" data-color='red').button.red
      path(d="M 0 100 A 110 110 0 0 1 100 0 L 100 50 A 60 60 0 0 0 50 100 Z"
        fill="green"
        stroke="transparent").red
    svg(viewBox="0 0 100 100" data-color='yellow').button.yellow
      path(d="M 0 100 A 110 110 0 0 1 100 0 L 100 50 A 60 60 0 0 0 50 100 Z"
        fill="green"
        stroke="transparent").yellow
    svg(viewBox="0 0 100 100" data-color='blue').button.blue
      path(d="M 0 100 A 110 110 0 0 1 100 0 L 100 50 A 60 60 0 0 0 50 100 Z"
        fill="green"
        stroke="transparent").blue
